body {
    font-family: Noto Sans, sans-serif;
    background-color:#fff7f4;
    color: black;
    margin: 0;
}

.masthead{
    width: 100%;
}

.masthead_links{
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        height: 30px;
        align-items: center;
        display: flex;
        width: 100%;
        padding-left: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

#map_container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
}

#map_left {
    width: 400px;
    height: 600px;
    background-color: gray;
    margin: 20px;
    display: flex;
}

#map_right {
    width: 400px;
    height: 600px;
    background-color: blue;
    display: flex;
}