html, body {
    height: 100%;
}

#main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff7f4;
    color: black;
    margin: 0;
    padding: 0;
}


#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    padding-top: 30px;
}

#map_one_container {
    flex-grow: 1;
    width: 100%;
    height: auto;
}

#map_one_frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* #intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.intro-content {
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
} */

#map_two_container {
    height: 500px;
    flex-grow: 1;
    width: 100%;
}



#map_two_frame {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.masthead {
    width: 100%;
    height: auto;
    padding-right: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-shrink: 4;
    background-color: black;

}

 h1 {
    padding: 10px;
margin: 0px; 
color: white;
font-family: 'Lato', sans-serif;

} 

h2 {
    margin-bottom: 30px;
    margin-top: 6px;
    font-weight: 100;
}

.masthead_links {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 3%;
    align-items: center;
    display: flex;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    font-size: 12px;

}

.masthead_links_cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 100%;


}

.link {
    display: flex;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    align-items: center;

}

.buttons {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 10px;
    left: 320px;
    z-index: 900;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

}

#btn-loan-2018 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: transparent;
    opacity: 0.6;
    border-radius: 10px;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

#btn-loan-2018:active {
    background-color: #F7F7F7;
    border-color: black;
    border-bottom: #000;
    transform: scale(.96);
}

#btn-loan-2023 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: transparent;
    opacity: 0.6;
    border-radius: 10px;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;

}

#btn-loan-2023:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

#btn-loan-2023:hover {
    background-color: #F7F7F7;
    border-color: #000000;
    border-bottom: #000;
    border-width: 5px;
}

#btn-loan-2018:hover {
    background-color: #F7F7F7;
    border-color: #000000;
    border-bottom: #000;
    border-width: 5px;
}

#sidebar {
    position: absolute;
    height: 100%;
    color: white;
    max-width: 300px;
    font-size: .8rem;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-right: 15px;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    z-index: 999;
    background-color: blue;
    z-index: 900;
    padding: 10px;
    opacity: .7;;
}

.info-box {
    position: absolute;
    top: 80px;
    left: 320px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    max-width: 250px;
    z-index: 999;
    background-color: lightgrey;
    opacity: .9;

}

.info-box.hidden {
    display: none;
}

.info-box h3 {
    margin-top: 0;
    font-size: 16px;
    color: #333;
}

.info-box p {
    margin: 4px 0;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
  }
  
  .close-btn:hover {
    color: #000;
  }
  .hidden {
    display: none;
  }